@import '../../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';
.mat-toolbar {
   
    background-color:white;
 
    .mat-toolbar-row{
        height: 471px;
        padding: 30px;
        
    
    }
    

}


.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    height: 400px;
    bottom: 64px;
 

    .title{
        color:rgb(2, 14, 53);
        
    }

    
   
    

}  

img{
    width:400px;
    height: 200px;
}